body, div, p, a {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 13px;
    word-spacing: -1px;
    color: #383737;
    letter-spacing: -0.15px;
}
body {
    margin: 0px !important;
}
body.dark-mode {
    background: #0d1117;
    transition: color 0.3s ease;
}
img {
    border: 1px solid #eee;
    padding: 7px;
    width: 200px;
    height: 150px;
    background-size: cover;
}
.publication-section-div {
    display: flex; 
    flex-direction: row; 
    padding: 10px;
    gap: 15px;
    border: 1.5px solid #eee;
    margin: 12px 20px;
}
.my-links-div {
    padding: 20px;
    border-top: 2px solid #eee;
    display: flex;
    gap: 10px;
}
a.my-link {
    border: 1.5px solid #ddd;
    padding: 5px 10px 7px;
    border-radius: 100px;
    background: #e8f2f6;
}
a {
    color:#1772d0; 
    text-decoration:none;
}
p {
    font-size: 13px;
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    line-height: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}
footer p {
    margin: 0;
}
name {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 32px;
}


.dark-mode-div {
    display: flex;
    flex-direction: row-reverse;
}
button#darkModeToggle {
    position: fixed;
    width: 35px;
    height: 35px;
    font-size: 20px;
    border-radius: 100%;
    border: 2px solid #ddd;
    margin: 10px;
    color: #333; /* Light mode color */
    transition: color 0.3s ease;
}
body.dark-mode button#darkModeToggle {
    background: #292828;
    color: #fff;
    border: 1.5px solid #202020;
    box-shadow: 0 0 1px 1px #111111;
}
body.dark-mode #darkModeToggle {
    color: #fff; /* Dark mode color */
}
